
@media screen and (max-width: 480px){
	body{
		width: 480px;
	}	
}
@media screen and (min-width: 481px) and (max-width: 1179px){
	body{
		width: 481px;
	}	
}
@media screen and (min-width: 1280px){
	body{
		width: 1280px;
	}	
}
h1 {
  font-size: 350%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #707070;
}
h2 {
  font-size: 150%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #f5f5f5;
}
p {
  font-size: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #ffffff;
}
nav{
	font-size: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  
}
footer{
	font-size: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #000000;
}
background{
	color: #aaaaaa;
}

#backgroundvideo{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	transform: none;
}
.header1 {
  font-size: 200%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #000000;
  padding-left: 2em;
}
.header2 {
  font-size: 175%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #f5f5f5;
  padding-top: 2em;
}

#maincontent{
  font-size: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
#secondarycontent{
  font-size: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
#sportcontent{
  font-size: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
#referralcontent{
  font-size: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
#contactcontent{
  font-size: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
#cookie{
	z-index: 2;
	Color: #2699fb;
	font-size: 300%;
}
li{
	color: #444444;
	font-size: 175%;
}






